# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2023 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2024 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

[MASTER]
init-hook='import sys; sys.path.append("./")'
max-line-length=150
disable=broad-except,broad-exception-raised
max-args=16
max-locals=25
min-public-methods=0
max-public-methods=27
fail-under=9.5
extension-pkg-allow-list=pydantic
max-branches=25
max-statements=62
max-positional-arguments=20
max-attributes=12
