# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

[MASTER]
max-line-length=150
disable=broad-except
init-hook='import sys; sys.path.append("./")'
max-args=7
min-public-methods=0
