# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2023 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

pydantic==1.10.9
fastapi==0.98.0
uvicorn==0.22.0
pyyaml==6.0
psycopg2-binary==2.9.6
pylint==2.17.4
pandas==2.0.3
numpy==1.25.0
pyjwt==2.7.0