# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

pydantic==1.8.2
fastapi==0.75.1
uvicorn==0.15.0
pyyaml==6.0
psycopg2==2.9.3
