# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2023 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2024 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

pydantic==2.10.6
fastapi==0.115.11
uvicorn==0.34.0
pyyaml==6.0.2
pyjwt==2.10.1
pylint==3.3.6
pytest==8.3.5
requests==2.32.3
psycopg2-binary==2.9.10

beautifulsoup4==4.13.3
pandas==2.2.3
numpy==2.2.4
pytz==2025.1
scipy==1.15.2
xarray==2025.3.0
netcdf4==1.7.2
pydap==3.5.4
lxml==5.3.1


